{{ include('nav.html.twig') }}
		  <main class="col-md mt-2">
		  <div class="row mb-2">
			  <div class="col-auto col-sm-auto pr-0">
				  <a id="newproject" role="button" class="btn btn-success" href="<?= $root ?>/newproject">新增项目</a>
			  </div>
			  <div class="col-auto col-sm-auto pr-0">
				  <a role="button" class="btn btn-info text-white" href="">统计报表</a>
			  </div>
			  <div class="col-auto col-sm-auto pr-0">
				  <button id="myproject" type="button" class="btn <?= $myproj_btn ?>" data-oid="<?= $oid ?>">我的项目</button>
			  </div>
			  <div class="col-sm-3 mt-1 mt-sm-0">
				  <input class="form-control" id="search" type="text" placeholder="搜索项目">
				  <span class="position-absolute d-none" id="clearsearch">×</span>
			  </div>
		  </div>
		  <table class="table table-hover table-responsive-sm">
			  <thead>
				  <tr>
					  <th scope="col">姓 名</th>
					  <th scope="col">年 龄</th>
					  <th scope="col">籍 贯</th>
					  <th scope="col">电 话</th>
					  <th scope="col">身份证号</th>
					  <th scope="col">学 历</th>
					  <th scope="col">毕业院校</th>
					  <th scope="col">公 司</th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr>
					  <td>张三丰</th>
					  <td>32</th>
					  <td>哪里的人类</th>
					  <td>132111122222</th>
					  <td>420302190001010202</th>
					  <td>博士</th>
					  <td>北大法四方大学</th>
					  <td>开放联合建立</th>
				  </tr>
			  </tbody>
		  </table>
		  </main>
		</div>
